.academy {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 80px;
}

.academy__name {
  font-family: @arial;
  font-size: 16px;
  line-height: 16px;
  color: @text-light;
}

.academy__logo {
  display: block;
  width: 28px;
  height: 35px;
}
