.advantages {
  padding: 0 @indent-mobile;

  @media @tablet {
    padding: 0 @indent-tablet;
    border-bottom: 1px solid rgb(230, 230, 230);
  }
}

.advantages__title {
  margin: 17px 0 28px;

  font-weight: 400;
  font-size: 36px;
  line-height: 60px;
  color: @text-dark;

  @media @tablet {
    font-size: 60px;
    line-height: 60px;
  }
}

.advantages__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;

  list-style: none;

  @media @tablet {
    flex-flow: row wrap;
    justify-content: space-between;

    counter-reset: section;
  }
}

.advantages__item {
  position: relative;

  display: flex;
  align-items: center;
  min-height: 60px;
  margin-bottom: 20px;
  padding-left: 80px;

  font-size: 14px;
  line-height: 18px;
  font-family: @arial;
  color: @text-light;

  @media @tablet {
    flex-basis: 324 / 708 * 100%;
    padding: 120px 100px 140px 0;

    font-size: 16px;
    line-height: 24px;

    counter-increment: section;

    &::after {
      content: counter(section);
      position: absolute;
      top: -40px;
      left: 125px;
      z-index: -1;

      font-size: 281px;
      line-height: 281px;
      font-family: @oswald;
      color: rgb(242, 242, 242);
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;

    width: 60px;
    height: 60px;

    background-color: @color-main;
    background-repeat: no-repeat;
    background-position: center;
    transform: translateY(-50%);

    @media @tablet {
      top: 0;

      transform: translateY(0);
    }
  }

  &:nth-child(1)::before {
    background-image: url("../img/advantage-leaf@1x.png");
  }

  &:nth-child(2)::before {
    background-image: url("../img/advantage-powder@1x.png");
  }

  &:nth-child(3)::before {
    background-image: url("../img/advantage-dining@1x.png");
  }

  &:nth-child(4)::before {
    background-image: url("../img/advantage-clock@1x.png");
  }
}
