.capital-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 26px;
  padding-left: @indent-mobile;
  padding-right: @indent-mobile;

  color: rgb(255, 255, 255);

  background-image: url("../img/index-background-mobile@1x.jpg"),
    linear-gradient(to bottom, @color-main 0, @color-main 63.8%, transparent 63.8%);
  background-repeat: no-repeat;
  background-position: top;
}

.capital-block__title {
  margin: 0;

  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
}

.capital-block__slogan {
  font-size: 14px;
  line-height: 19.4px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 23px;
}

.capital-block__image {
  margin-top: 13px;
}

.capital-block__btn {
  width: 100%;
  font-size: 14px;
  line-height: 18px;
  margin-top: 2px;
}
