.catalog {
  display: flex;
  flex-direction: column;
}

.catalog__title {
  margin-top: 15px;
  padding: 0  @indent-mobile;

  font-size: 36px;
  font-weight: 400;
  line-height: 60px;
  color: @text-dark;
}

.catalog__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.catalog__item {
  padding-left: calc(@indent-mobile ~ "- 2px");
  padding-right: calc(@indent-mobile ~ "- 2px");
  padding-bottom: 25px;

  border: 1px solid rgb(237, 237, 237);
  border-bottom: none;

  &:last-of-type {
    border-bottom: 1px solid rgb(237, 237, 237);
  }
}
