.characteristics {
  font-size: 12px;
  line-height: 14px;
  font-family: @font-extra;
  color: @text-light;

  @media @tablet {
    font-size: 16px;
    line-height: 16px;
  }
}

.characteristics__title {
  padding: 22px 40% 12px 0;

  text-align: left;

  @media @tablet {
    margin-bottom: 16px;
    padding: 0 22%;

    text-align: center;
  }

  @media @desktop {
    padding: 0 10%;
  }
}

.characteristics__link {
  font-size: 16px;
  line-height: 20px;
  font-family: @font-main;
  text-align: left;
  color: @text-dark;
  text-transform: uppercase;

  @media @tablet {
    font-size: 20px;
    text-align: center;
  }
}

.characteristics__item {
  &:nth-child(2) {
    @media @tablet {
      .characteristics__indicator,
      .characteristics__value {
        padding: 7px 0 9px;
      }
    }
  }
}

.characteristics__indicator {
  padding: 0;

  text-align: left;

  @media @tablet {
    padding: 5px 0;

    border-bottom: 1px solid rgb(205, 205, 205);
  }
}

.characteristics__value {
  padding: 0;

  text-align: right;

  @media @tablet {
    padding: 5px 0;

    border-bottom: 1px solid rgb(205, 205, 205);
  }
}
