.contact-user-form {
  margin-top: 30px;
  padding-bottom: 28px;

  @media @tablet {
    padding-bottom: 66px;
  }

  @media @desktop {
    width: 100%;
  }
}

.contact-user-form__legend {
  @media @desktop {
    margin-bottom: 62px;
  }
}

.contact-user-form__container {
  @media @desktop {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
    padding: 0 @indent-desktop;
  }
}

.contact-user-form__wrap {
  .form-wrap();

  @media @tablet {
    padding-right: 5.65%;
    padding-left: 5.65%;
  }

  @media @desktop {
    width: 570px;
    padding: 0;

    &:not(:first-of-type) {
      margin: 0;
    }
  }
}

.contact-user-form__label {
  margin-right: 10px;

  &[for="user-email"] {
    min-width: 51px;
  }

  @media @tablet {
    margin-right: 17px;

    &[for="user-email"] {
      min-width: 65px;
    }
  }
}

.contact-user-form__input {
  padding-right: 16px;
  padding-left: 15px;

  &[id="user-email"] {
    background: url("../../img/icon-mail.svg") no-repeat right center;
    background-size: 18px 13px;
    background-origin: content-box;
  }

  &[id="user-tel"] {
    padding-right: 13px;

    background: url("../../img/icon-phone.svg") no-repeat right center;
    background-size: 21px 21px;
    background-origin: content-box;
  }

  @media @tablet {
    padding-left: 20px;
  }
}
