.example {
  display: flex;
  flex-direction: column;
  margin-top: 22px;
  padding-top: 17px;
  padding-bottom: 37px;

  background-color: rgb(242, 242, 242);

  @media @tablet {
    position: relative;

    padding-top: 0;
    padding-bottom: 68px;
  }

  @media @desktop {
    flex-direction: row;
  }
}

.example__wrap {
  padding: 0 @indent-mobile;

  @media @tablet {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 0 @indent-tablet 240px;

    background-color: rgb(255, 255, 255);
  }

  @media @desktop {
    min-width: 50%;
    max-width: 50%;
    padding-right: 9.375%;
    padding-left: @indent-desktop;
  }
}

.example__title {
  margin: 0;
  margin-bottom: 25px;

  font-weight: 400;
  font-size: 36px;
  line-height: 60px;
  color: @text-dark;

  @media @tablet {
    width: 100%;
    margin-top: 17px;
    margin-bottom: 49px;

    font-size: 60px;
  }
}

.example__description {
  margin-bottom: 27px;
  padding-right: 5px;

  font-size: 14px;
  line-height: 18px;
  font-family: @font-extra;
  color: @text-light;

  @media @tablet {
    width: 100%;
    margin-bottom: 56px;
    padding-right: 10px;

    font-size: 16px;
    line-height: 24px;
  }
}

.example__result {
  width: 100%;

  @media @tablet {
    width: auto;
  }
}

.example__costs {
  align-self: center;
  margin-top: 10px;

  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: @text-dark;
  text-transform: uppercase;

  @media @tablet {
    width: 27%;
    margin-top: 0;

    font-size: 20px;
    line-height: 30px;
    text-align: right;
  }

  @media @desktop {
    width: 100%;

    text-align: center;
  }
}

.example__toggle {
  align-self: center;
  width: 100%;
  margin-top: 33px;
  padding-right: 59px;
  padding-left: 64px;

  @media @tablet {
    margin-top: 367px;
    padding: 0 100px;
  }
}

.example__image {
  display: block;
  margin: 20px auto 0;

  @media @tablet {
    position: absolute;
    right: 0;

    transform: translateX(50%);
  }

  &--after {
    display: none;

    @media @tablet {
      position: absolute;
      right: 50%;
      bottom: 125px;

      display: block;

      transform: translateX(50%);
    }

    @media @desktop {
      right: 25%;
    }
  }
}

.example__image-wrap {
  position: relative;

  width: 100%;

  @media @tablet {
    position: absolute;
    bottom: 125px;
    left: 0;
    z-index: 5;

    width: 50%;
    height: 240px;
    overflow: hidden;
  }

  @media @desktop {
    left: 50%;

    width: 25%;
  }
}
