.extra-product {
  display: flex;
  flex-flow: row wrap;
  padding: 15px 0;

  border-top: 1px solid rgb(205, 205, 205);
  border-bottom: 1px solid rgb(205, 205, 205);
}

.extra-product__name {
  width: 100%;

  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  color: @text-dark * 2;
  text-transform: uppercase;
}

.extra-product__amount {
  width: 50%;

  font-size: 14px;
  line-height: 14px;
  font-family: @arial;
  color: @text-light;
}

.extra-product__value {
  width: 50%;

  font-size: 14px;
  line-height: 14px;
  font-family: @arial;
  text-align: right;
  color: @text-light;
}

.extra-product__btn {
  width: 100%;
}
