.extra-products {
  margin-bottom: 33px;
}

.extra-products__title {
  position: relative;

  margin-top: 29px;
  margin-bottom: 33px;
  padding: 0 @indent-mobile;
  overflow: hidden;

  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: @text-dark;

  &::after,
  &::before {
    content: "";
    position: absolute;
    top: 50%;

    width: 100%;
    height: 3px;

    background-color: @color-main;
    transform: translateY(-50%);
  }

  &::after {
    margin-left: 22px;
  }

  &::before {
    margin-left: calc(-100% ~ "- 25px");
    background-color: @color-main;
  }
}

.extra-products__list {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  padding: 0 @indent-mobile;

  list-style: none;
}
