.extra-products {
  margin-bottom: 33px;

  @media @tablet {
    margin-bottom: 75px;
  }

  @media @desktop {
    display: flex;
    flex-flow: row wrap;
  }
}

.extra-products__title {
  margin-top: 29px;
  margin-bottom: 33px;
  padding: 0 @indent-mobile;

  font-weight: 400;

  &::after {
    margin-left: 21px;
  }

  @media @tablet {
    margin-top: 66px;
    margin-bottom: 81px;
    padding-left: 67px;

    &::after {
      top: 22px;

      margin-left: 35px;
    }

    &::before {
      top: 22px;
      margin-left: calc(-100vw ~ "- 37px");
    }
  }
}

.extra-products__list {
  .without_indentation();

  display: flex;
  flex-direction: column;
  margin-bottom: 40px;

  list-style: none;

  @media @tablet {
    margin-bottom: 68px;
  }

  @media @desktop {
    width: 1005 / 1440 * 100%;
    margin: 0;
    padding: 0;
    padding-left: @indent-desktop;
  }
}

.extra-products__item {
  padding: 12px 0 17px;

  @media @tablet {
    padding: 27px 5.226%;
  }
}

.extra-products__action {
  @media @desktop {
    margin-right: @indent-desktop;
    margin-left: auto;
  }
}
