.main-menu {
  display: none;
  margin: 0;
  padding: 0;

  list-style: none;
  font-weight: 500;
  text-transform: uppercase;

  &:target {
    display: block;
  }

  @media @tablet {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    width: 100%;
  }

  @media @desktop {
    padding-right: @indent-desktop;
  }

  &--index {
    @media @desktop {
      position: relative;

      display: flex;
      flex-flow: row wrap;
      justify-content: flex-end;
      width: 50%;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        z-index: -1;

        width: 100%;
        min-height: 695px;

        background: @color-main url("../img/index-background-mobile@1x.jpg") no-repeat;
        background-size: cover;
      }
    }
  }
}

.main-menu__item {
  display: flex;
  min-height: 66px;
  padding: 0 @indent-mobile;

  border-bottom: 1px solid rgb(230, 230, 230);

  @media @tablet {
    padding: 0;

    border-bottom: 0;

    & + & {
      margin-left: 38px;
    }
  }
}

.main-menu__link {
  display: inline-block;
  margin: auto;
  padding: 6px 0;

  font-size: 20px;
  line-height: 25px;
  color: @text-dark;

  border-bottom: 2px solid transparent;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &--active,
  &--active:hover,
  &--active:focus,
  &--active:active {
    color: @text-dark;

    border-bottom: 2px solid @color-main;
  }

  &--index {
    @media @desktop {
      color: rgb(255, 255, 255);

      &-active,
      &-active:hover,
      &-active:focus,
      &-active:active {
        color: rgb(255, 255, 255);

        border-bottom: 2px solid rgb(255, 255, 255);
      }
    }
  }
}
