.product {
  display: flex;
  flex-direction: column;
  position: relative;
}

.product__image {
  order: -1;
  position: absolute;
  left: 50%;
  transform: translateX(-100px);
}

.product__btn {
  width: 100%;
}

.product__characteristics {
  margin-left: 50%;
}
