.product {
  position: relative;

  display: flex;
  flex-flow: row wrap;
  width: 100%;
}

.product__image {
  flex-basis: 50%;
  margin-top: -1px;
}

.product__btn {
  width: 100%;
}

.product__characteristics {
  flex-basis: 50%;
}
