.program-selection__title {
  margin-top: 14px;
  margin-bottom: 27px;
  padding: 0 @indent-mobile;

  font-weight: 400;
  font-size: 36px;
  line-height: 60px;
}

.program-selection__decription {
  padding: 0 @indent-mobile;
  padding-right: 50px;

  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}
