.user-form {
  width: 100%;
  margin-top: 25px;

  @media @tablet {
    margin-top: 46px;
    padding-right: 5.65%;
    padding-left: 5.65%;
  }

  @media @desktop {
    width: 570px;
    padding: 0;
  }
}

.user-form__wrap {
  .form-wrap();

  margin-right: @indent-mobile;
  margin-left: @indent-mobile;

  @media @tablet {
    margin-right: 0;
    margin-left: 0;
    padding: 0;
  }
}

.user-form__label {
  margin-right: 17px;
}

.user-form__input {
  padding-left: 15px;

  @media @tablet {
    padding-left: 20px;
  }
}
